<h3>New Workout</h3>

<div class="container bg-secondary w-50 float-start">
     <div class="row">
        <form action="/new" method="POST">
           <div class="col-xl-4 mt-2">
                <select class="form-select" name="exercise" id="exercise">
                    <option value="">Exercise</option>
                    <option value="Contrast Warmup">Contrast Warmup</option>
                    <option value="One Touch">One Touch</option>
                    <option value="Hovers - Before">Hovers - Before</option>
                    <option value="Hovers - After">Hovers - After</option>
                    <option value="Rooting Feet">Rooting Feet</option>
                    <option value="Rooting Hands">Rooting Hands</option>
                    <option value="Rooting Both">Rooting Both</option>
                    <option value="Perfect Repeat">Perfect Repeat</option>
                    <option value="Match Hand/Foot">Match Hand/Foot</option>
                    <option value="One Leg">One Leg</option>
                    <option value="Deadpoint Practice">Deadpoint Practice</option>
                    <option value="Matching Techniques">Matching Techniques</option>
                </select>
           </div>
           <div class="col-xl-4 mt-2">
                <select class="form-select" name="attempts" id="attempts">
                    <option value="">Attempts</option>
                    <option value="Flash">Flash</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    
                </select>
           </div>
           <div class="col-xl-4 mt-2 mb-2">
                <select class="form-select" name="grade" id="grade">
                    <option value="">Grade</option>
                    <option value="1">V0</option>
                    <option value="1">V1</option>
                    <option value="2">V2</option>
                    <option value="3">V3</option>
                    <option value="4">V4</option>
                    <option value="5">V5</option>
                    <option value="6">V6</option>
                    <option value="7">V7</option>
                    <option value="8">V8</option>
                    <option value="9">V9</option>
                    <option value="10">V10</option>
                    <option value="11">V11</option>
                    <option value="12">V12</option>
                    <option value="13">V13</option>
                    <option value="14">V14</option>
                    <option value="15">V15</option>
                </select>
           </div>

            <div class="col-xl-4">
                <button class="w-100 btn btn-primary btn-lg mb-2 mt-4" type="submit"><b>Submit</b></button>
            </div>
           
        </form>
     </div>
</div>

<div class="container">
    <div class="row w-100">
        <div class="col">
            <h3 class="mt-5">Welcome {{name}}</h3>
            <p>Here is your current workout</p>
            {{#if workouts}}
                <table class="table table-striped table-hover table-bordered table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Exercise</th>
                            <th scope="col">Attempts</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each workouts}}
                            <tr>
                                <td>{{exercise}}</td>
                                <td>{{attempts}}</td>
                                <td>{{grade}}</td>
                                <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row float-start">
                                            <div class="col-3">
                                                <a href="/review/{{_id}}" class="btn bg-success"><i class="fas fa-edit"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="container-fluid">
                                                <form action="/review/{{_id}}" method="POST" id="delete-form"> {{!--using Method Override--}}
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn bg-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>You have not created any workouts. Add one now!</p>
            {{/if}}
        </div>
    </div>
</div>