<h3>New Workout</h3>

<div class="container bg-secondary w-50 float-start">
     <div class="row">
        <form action="/new" method="POST">
           <div class="col-xl-4 mt-2">
                <select class="form-select" name="exercise" id="exercise">
                    <option value="">Exercise</option>
                    <option value="Hovers">Hovers</option>
                    <option value="One Touch">One Touch</option>
                    <option value="Rooting - Feet">Rooting Feet</option>
                </select>
           </div>
           <div class="col-xl-4 mt-2">
                <select class="form-select" name="attempts" id="attempts">
                    <option value="">Attempts</option>
                    <option value="Flash">Flash</option>
                    <option value="Onsight">Onsight</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
           </div>
           <div class="col-xl-4 mt-2 mb-2">
                <select class="form-select" name="status" id="status">
                    <option value="">Grade</option>
                    <option value="V0">V0</option>
                    <option value="V1">V1</option>
                    <option value="V2">V2</option>
                </select>
           </div>

            <div class="col-xl-4">
                <button class="w-100 btn btn-primary btn-lg mb-2 mt-4" type="submit"><b>Submit</b></button>
            </div>
           
        </form>
     </div>
</div>

<div class="container">
    <div class="row w-100">
        <div class="col">
            <h3 class="mt-5">Welcome {{name}}</h3>
            <p>Here is your current workout</p>
            {{#if workouts}}
                <table class="table table-striped table-hover table-bordered table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Exercise</th>
                            <th scope="col">Attempts</th>
                            <th scope="col">Grade</th>
                            {{!-- <th></th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each workouts}}
                            <tr>
                                <td>{{exercise}}</td>
                                <td>{{attempts}}</td>
                                <td>{{status}}</td>
                                <td>
                                    <div class="container-fluid">
                                        <div class="row float-start w-50">
                                            <div class="col-3">
                                                <a href="/review/{{_id}}" class="btn bg-success"><i class="fas fa-edit"></i></a>
                                            </div>
                                            <div class="col-3">
                                                <form action="/review/{{_id}}" method="POST" id="delete-form"> {{!--using Method Override--}}
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button type="submit" class="btn bg-danger">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    
                                </td>
                                {{!-- <td>
                                    <a href="/stories/edit/{{_id}}" class="btn btn-float">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <form action="/stories/{{_id}}" method="POST" id="delete-form">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn red">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td> --}}
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p>You have not created any workouts. Add one now!</p>
            {{/if}}
        </div>
    </div>
</div>

{{!-- <h1>Workouts</h1>
<div class="container">
    <form action="/new" method="POST">

        <div class="dropdown">
            <div class="input-field">
                <label for="exercise">Exercise</label>
                <select id="exercise" name="exercise">
                    <option value="Hovers">Hovers</option>
                    <option value="One Touch">One Touch</option>
                    <option value="Rooting - Feet">Rooting Feet</option>
                </select>
                
            </div>
        </div>

        <div class="dropdown">
            <div class="input-field">
                <label for="status">Grade</label>
                <select id="status" name="status">
                    <option value="V0">V0</option>
                    <option value="V1">V1</option>
                    <option value="V2">V2</option>
                </select>
            </div>
        </div>

        <div class="dropdown">
            <div class="input-field">
                <label for="attempts">Attempts</label>
                <select id="attempts" name="attempts">
                    <option value="Flash">Flash</option>
                    <option value="Onsight">Onsight</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <!--<a href="/dashboard" class="btn orange">Cancel</a>-->
        </div>

    </form>
</div> --}}